header {
  background-color: white; }

#cabecera {
  padding-top: 6% !important; }

.card-hotel {
  margin: 0.5%; }

.card {
  padding: 0px !important; }

.card h5, p {
  padding: 3% !important;
  font-size: medium; }

h1 {
  margin-top: 2%;
  margin-left: 2%;
  /* align-items: center; */
  text-align: center;
  border-bottom: #2a0a1b29 1px solid;
  color: #2a0a1b6e; }

body {
  font-family: Roboto;
  background-color: white; }

.parrafos {
  background-color: white;
  opacity: 0.9;
  border: solid 2px #febb02;
  margin-top: 2%;
  padding-top: 1%;
  color: #003580;
  text-align: center;
  padding-bottom: 1%; }

h3 {
  align: center; }

h5 {
  font-weight: bold;
  color: #003580; }

.navegar {
  margin-top: 1%; }

.card-tc {
  padding: 1%;
  background-color: #fffaeb;
  border: solid 2px #febb02;
  margin-top: 2%; }

.card-tc p {
  text-align: left; }

p {
  margin-bottom: 5%;
  color: #0a75c2;
  font-weight: bold; }

#jumbotromPrincipal {
  margin-bottom: 3%;
  margin-top: 3%;
  background-color: #0077CC;
  color: white;
  font-weight: bold; }

.hoteles button {
  background-color: #2A0A1B !important;
  color: white;
  font-weight: bold; }

.btn-primary {
  color: #fff;
  background-color: #2A0A1B;
  border-color: #2A0A1B; }

.btn-primary:hover {
  background-color: #2A0A1B; }

footer {
  margin-top: 5%;
  background-color: #febb02c2;
  font-weight: bold;
  padding: 1%;
  color: floralwhite !important; }

footer a {
  color: floralwhite;
  font-weight: bold; }

footer p {
  color: #003580;
  margin-bottom: 1%; }

footer .oi {
  color: #003580 !important; }

#redesSociales {
  text-align: left; }

#direccion {
  text-align: center; }

#faq {
  text-align: right; }

.tab-content > .tab-pane {
  padding-top: 1%; }

.ParrafoAbout {
  margin: 5%;
  text-align: justify; }

.btn-outline-success {
  color: #28a745;
  border-color: #2A0A1B;
  height: 70%;
  width: 50%;
  font-size: x-small;
  margin-bottom: 5%;
  /* margin-right: 5%; */
  margin-left: 3%; }

.popover-header {
  color: red; }

.formularioContacto {
  margin-left: 7%;
  margin-right: 7%;
  color: #003580;
  font-weight: bold;
  font-family: Roboto; }

.btn btn-outline-primary {
  margin-top: 10% !important; }

.oi:empty:before {
  color: #003580 !important; }

thead {
  background-color: white;
  border: #febb02 3px solid; }

.table {
  margin-left: 7%;
  margin-right: 7%;
  width: 86%; }

.table td {
  text-align: center; }

.imgPortada {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 3%;
  border-radius: 5%; }

.parrafos.btn-primary {
  margin-top: 3%; }

.imgPortada img {
  position: relative;
  border-radius: 2%; }

.imgPortada h2 {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 30%;
  width: 100%;
  color: red; }

table th {
  padding: 1%;
  text-align: center;
  color: #003580 !important; }

.alineacionDif {
  text-align: left !important; }

.btn-modal {
  border-color: #2A0A1B;
  height: 70%;
  width: 50%;
  color: white;
  font-size: x-small;
  margin-bottom: 5%;
  /* margin-right: 5%; */
  margin-left: 3%;
  opacity: 0.8; }

@media (max-width: 600px) {
  #parrafos_cont .row .btn-primary {
    background-color: Black; }
  .card {
    width: 45% !important;
    min-width: 45% !important; }
  #logo {
    width: 45% !important; }
  h1 {
    margin-top: 6%; }
  #redesSociales {
    text-align: left; }
  #direccion {
    text-align: left; }
  #faq {
    text-align: left; }
  footer p {
    margin-top: 1.5%; }
  .breadcrumb {
    padding-left: 2%;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px; }
  #cabecera {
    padding-top: 15% !important;
    margin-right: 0px !important; } }

@media (max-width: 1000px) {
  .card {
    width: 33% !important;
    min-width: 33% !important; }
  .breadcrumb {
    margin-left: -1% !important;
    margin-right: 8.5% !important; }
  h1 {
    margin-top: 5%;
    FONT-SIZE: large; } }

@media (max-width: 600px) {
  .card {
    width: 45% !important;
    min-width: 45% !important; }
  .breadcrumb {
    margin-left: -1% !important;
    margin-right: 8.5% !important; }
  h1 {
    margin-top: 5%; } }
