header{
background-color: hsl(270 60% 70%);

}

body{
  font-family: sans-serif;
}

.parrafos{

background-color: #108c80;
margin-top: 3%;

}
h5{
  font-weight: bold;
}
container{

  margin: 5%;

}

button{
    border-radius: 20%;
    margin-bottom: 80%;
    background-color:;
}


p{
    margin-bottom: 5%;
}

#jumbotromPrincipal{
    margin-bottom: 3%;
    margin-top: 3%;
}
